* {}

:root {

    /* Dark theme colours */
    --text-color: #fcfdfd;
    --bg-color: #1a1a1a;
    --main-color: rgba(243, 128, 35, 0.867);

    /* Back-ground gradient colours Dark-theme */
    --bg-color-outer-top: rgb(39, 38, 38);
    --bg-color-outer-bottom: rgb(27, 25, 25);
    --bg-color-start: rgb(39, 38, 38);
    /* --bg-color-start: rgb(108, 80, 108); */
    --bg-middle-color: rgb(46, 46, 46);
    --bg-color-end: rgb(49, 49, 49);

    /* Light theme colours */
    --light-text-color: #1a1a1a;
    --light-bg-color: #fcfdfd;
    --light-main-color: rgba(25, 25, 25, 0.867);

    /* Back-ground gradient colours Light-theme */
    --light-bg-color-outer-top: rgb(255, 255, 255);
    --light-bg-color-outer-bottom: rgb(250, 250, 250);
    --light-bg-color-start: rgb(245, 245, 245);
    --light-bg-middle-color: rgb(240, 240, 240);
    --light-bg-color-end: rgb(235, 235, 235);

    /* gradient back-ground */
    --gradient-bg: linear-gradient(to right,
            rgb(5, 119, 139),
            rgb(239, 94, 213),
            rgb(63, 51, 224),
            rgb(17, 90, 94),
            rgb(234, 39, 124),
            rgb(230, 180, 73),
            rgb(5, 119, 139));

    /* gradient back-ground */
    --gradient-bg-pastel: linear-gradient(to right,
            rgb(78, 119, 126),
            rgb(194, 157, 188),
            rgb(140, 136, 197),
            rgb(87, 114, 115),
            rgb(144, 107, 123),
            rgb(230, 200, 137),
            rgb(78, 119, 126));


    /* Font sizes */
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    overflow: hidden;
    background: #000;
    min-height: 100vh;
    background-image: url(space-clouds.jpg);
    background-size: cover;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.mobileFrame {
    display: none;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-size: 30px;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.desktopNavBar {
    width: 100vw;
    height: 68px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-bottom: 0.50px #9dcfdd7f solid;
}

.logoFrame {
    width: 233.16px;
    height: 50.32px;
    left: 45px;
    top: 0;
    position: absolute;

}

.logoFrame:hover {
    scale: 1.2;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.Frame103 {
    width: 190.84px;
    height: 40.70px;
    left: 38.84px;
    top: 7.70px;
    position: absolute"

}

.Group147 {
    width: 235.16px;
    height: 51px;
    left: -2px;
    top: 8px;
    position: absolute
}

.LoadOfPixel {
    left: 1.2rem;
    top: 3px;
    position: absolute;
    text-align: right;
    color: #BC98EF;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word
}

.Group133 {
    width: 20px;
    height: 17.69px;
    left: 217.34px;
    top: 18.06px;
    position: absolute;
    background-image: url(orange-brackets.svg);
    background-size: cover
}

.CloudWebDev {
    left: 152.5px;
    top: 38.98px;
    position: absolute;
    color: #E6E6E6;
    font-size: 5.8px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 7.61px;
    word-wrap: break-word
}

.Navbar {
    left: 399px;
    top: 1.46px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 9px;
    display: inline-flex;
}

.Nav-link {
    padding: 16.30px;
    justify-content: center;
    align-items: center;
    gap: 16.30px;
    display: flex;
}

.Home {
    color: #FCFDFD;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.Home:hover {
    color: #F56F0F;
    cursor: pointer;
}

.MobileSocial {
    width: 124.19px;
    height: 20.31px;
    left: 1288px;
    top: 23.84px;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
}

.FollowUs {
    width: 60.05px;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    color: #FCFDFD;
}

.FollowUs:hover {
    scale: 1.2;
    position: relative;
    left: -8px;
    color: #f79956;
    cursor: pointer;
}

.linkedinIcon {
    width: 22px;
    height: 22px;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: 0.25rem;
    background-size: cover;
    background-image: url("linkedinIcon.svg");
}


.githubIcon {
    background-image: url("github.svg");
    width: 22px;
    height: 22px;
    position: relative;
    left: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: 0.25rem;
    background-size: cover;
}

.microsoftIcon {
    width: 22px;
    height: 22px;
    position: relative;
    left: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: 0.25rem;
    background-size: cover;
    background-image: url("microsoft-windows.svg");
}

h6 {
    position: relative;
    color: #F56F0F;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(225, 225, 225, 0.447);
    left: 85%;
}

h6:hover {
    color: rgb(188, 152, 239);
    cursor: pointer;
}

span {
    color: rgb(188, 152, 239);
}

span:hover {
    color: #F56F0F;
    cursor: pointer;
}

/* homePage section */
.HomepageSection {
    width: 1234px;
    height: 580px;
    left: 10rem;
    top: 6rem;
    position: absolute
}

.LogoText {
    padding: 10px;
    left: 0px;
    top: 8px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.LoadOfPixels {
    color: #F56F0F;
    text-shadow: 0.5px 0 0px #939a9c;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.28px;
    word-wrap: break-word;
}

.MainText {
    padding: 10px;
    left: 0px;
    top: 78.06px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.WebDevUxDesign {
    color: #4d3d64;
    text-shadow: 0.5px 0 0px rgb(223, 221, 221);
    font-size: 101px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}


.SentenceParagraph {
    padding: 10px;
    left: 0px;
    top: 350px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.TechWebsites,
.EngagingWebsites {
    color: #d2d2d2;
    font-size: 28px;
    font-family: "Open-sans";
    font-weight: 400;
    word-wrap: break-word
}

.SentenceParagraph2 {
    padding: 10px;
    left: 0px;
    top: 416.94px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.DesktopButton {
    padding: 10px;
    left: 970px;
    top: 500px;
    position: absolute;
    background: #4d3d64;
    border-radius: 4px;
    border: 1px rgb(116, 116, 116) solid;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.GetInTouch {
    color: #aeaeae;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    word-wrap: break-word;
}


@media (max-width: 360px) {
    .HomepageSection {
        display: none;
    }

    .desktopNavBar {
        display: none;
    }



    .mobileFrame {
        display: contents;
    }

    .NavbarComplete {
        width: 360px;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .NewlogoNavbar {
        width: 100%;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(24, 14, 41, 0.20);
        border: 0.23px #629AA7 solid
    }

    .Navbackgroundcolour {
        width: 360px;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(24, 14, 41, 0.20);
        border: 0.23px #629AA7 solid
    }

    .MenuIcon {
        width: 20.25px;
        height: 13.50px;
        left: 328.41px;
        top: 11.12px;
        position: absolute;
        background-image: url(menu-icon.svg);
        background-size: cover;
        /* border: 0.34px #629AA7 solid */
    }

    .Pixelsgrouped {
        width: 208.99px;
        height: 46px;
        left: 27.70px;
        top: 6.05px;
        position: absolute
    }

    .LoadOfPixel {
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: right;
        color: #EFEFEF;
        font-size: 30.61px;
        font-family: Poppins;
        font-weight: 400;
        word-wrap: break-word
    }

    .bracketsGrouped {
        width: 15.97px;
        height: 16.21px;
        left: 193.02px;
        top: 16.55px;
        position: absolute
    }

    .SocialsWrapper {
        width: 56.51px;
        height: 18.19px;
        left: 292.15px;
        top: 30.59px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.97px;
        display: inline-flex
    }

    .Linkedin {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(linkedinIcon.svg);
        background-size: cover;
    }

    .linkedinVector {
        width: 13.64px;
        height: 13.64px;
        left: 2.27px;
        top: 2.27px;
        position: absolute
    }

    .Github {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(github.svg);
        background-size: cover;
    }

    .githubVector {
        width: 15.16px;
        height: 14.79px;
        left: 1.52px;
        top: 1.52px;
        position: absolute;
    }

    .Microsoft {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(microsoft-windows.svg);
        background-size: cover;
    }

    .microsoftVector {
        width: 14.40px;
        height: 14.40px;
        left: 1.52px;
        top: 2.27px;
        position: absolute;
    }

    .HomeSection {
        width: 351.78px;
        height: 398.67px;
        left: 8.22px;
        top: 95.40px;
        position: absolute
    }

    .HomeSectionParagraph {
        width: 347px;
        height: 268.01px;
        left: 4.78px;
        top: 119.32px;
        position: absolute;
        color: #FCFDFD;
        font-size: 15.92px;
        font-family: Open Sans;
        font-weight: 400;
        word-wrap: break-word;
    }

    .LogoText {
        padding: 2.76px;
        left: 0.49px;
        top: 0px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 2.76px;
        display: inline-flex;
    }

    .LoadOfPixels {
        color: #F56F0F;
        font-size: 15.84px;
        font-family: Poppins;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.63px;
        word-wrap: break-word;
    }

    .MainText {
        height: 88px;
        padding: 2.76px;
        left: 0px;
        top: 24.82px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 2.76px;
        display: inline-flex;
    }

    .WebDevUxDesign {
        color: #BC98EF;
        font-size: 32.90px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word
    }

    .mobileButton {
        padding: 5.42px;
        left: 275px;
        top: 377.82px;
        position: absolute;
        background: linear-gradient(0deg, 0%, 100%), linear-gradient(0deg, rgba(97, 80, 114, 0.47) 0%, rgba(97, 80, 114, 0.47) 100%);
        border-radius: 1.70px;
        border: 0.34px #629AA7 solid;
        justify-content: center;
        align-items: center;
        gap: 5.42px;
        display: inline-flex
    }

    .GetInTouch {
        color: #E3F3F9;
        font-size: 8.48px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
    }

    .ImageFrame {
        width: 345px;
        height: 258px;
        left: 0;
        top: 480px;
        position: absolute;
        border-radius: 2px;
        border: 0.50px #629AA7 solid;
    }


}

@media (max-width: 425px) {
    .mobileFrame {
        display: contents;
    }

    .NavbarComplete {
        width: 425px;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .NewlogoNavbar {
        width: 100%;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(24, 14, 41, 0.20);
        border: 0.23px #629AA7 solid
    }

    .Navbackgroundcolour {
        width: 425px;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(24, 14, 41, 0.20);
        border: 0.23px #629AA7 solid
    }

    .MenuIcon {
        width: 20.25px;
        height: 13.50px;
        left: 328.41px;
        top: 11.12px;
        position: absolute;
        background-image: url(menu-icon.svg);
        background-size: cover;
        /* border: 0.34px #629AA7 solid */
    }

    .Pixelsgrouped {
        width: 208.99px;
        height: 46px;
        left: 27.70px;
        top: 6.05px;
        position: absolute
    }

    .LoadOfPixel {
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: right;
        color: #EFEFEF;
        font-size: 30.61px;
        font-family: Poppins;
        font-weight: 400;
        word-wrap: break-word
    }

    .bracketsGrouped {
        width: 15.97px;
        height: 16.21px;
        left: 193.02px;
        top: 16.55px;
        position: absolute
    }

    .SocialsWrapper {
        width: 56.51px;
        height: 18.19px;
        left: 292.15px;
        top: 30.59px;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.97px;
        display: inline-flex
    }

    .Linkedin {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(linkedinIcon.svg);
        background-size: cover;
    }

    .linkedinVector {
        width: 13.64px;
        height: 13.64px;
        left: 2.27px;
        top: 2.27px;
        position: absolute
    }

    .Github {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(github.svg);
        background-size: cover;
    }

    .githubVector {
        width: 15.16px;
        height: 14.79px;
        left: 1.52px;
        top: 1.52px;
        position: absolute;
    }

    .Microsoft {
        width: 18.19px;
        height: 18.19px;
        position: relative;
        background-image: url(microsoft-windows.svg);
        background-size: cover;
    }

    .microsoftVector {
        width: 14.40px;
        height: 14.40px;
        left: 1.52px;
        top: 2.27px;
        position: absolute;
    }

    .HomeSection {
        width: 351.78px;
        height: 398.67px;
        left: 8.22px;
        top: 95.40px;
        position: absolute
    }

    .HomeSectionParagraph {
        width: 347px;
        height: 268.01px;
        left: 4.78px;
        top: 119.32px;
        position: absolute;
        color: #FCFDFD;
        font-size: 15.92px;
        font-family: Open Sans;
        font-weight: 400;
        word-wrap: break-word;
    }

    .LogoText {
        padding: 2.76px;
        left: 0.49px;
        top: 0px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 2.76px;
        display: inline-flex;
    }

    .LoadOfPixels {
        color: #F56F0F;
        font-size: 15.84px;
        font-family: Poppins;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.63px;
        word-wrap: break-word;
    }

    .MainText {
        height: 88px;
        padding: 2.76px;
        left: 0px;
        top: 24.82px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 2.76px;
        display: inline-flex;
    }

    .WebDevUxDesign {
        color: #BC98EF;
        font-size: 32.90px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word
    }

    .mobileButton {
        padding: 5.42px;
        left: 275px;
        top: 377.82px;
        position: absolute;
        background: linear-gradient(0deg, 0%, 100%), linear-gradient(0deg, rgba(97, 80, 114, 0.47) 0%, rgba(97, 80, 114, 0.47) 100%);
        border-radius: 1.70px;
        border: 0.34px #629AA7 solid;
        justify-content: center;
        align-items: center;
        gap: 5.42px;
        display: inline-flex
    }

    .GetInTouch {
        color: #E3F3F9;
        font-size: 8.48px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
    }

    .ImageFrame {
        width: 345px;
        height: 258px;
        left: 0;
        top: 480px;
        position: absolute;
        border-radius: 2px;
        border: 0.50px #629AA7 solid;
    }

    .NavbarComplete {
        width: 375px;
        height: 58.43px;
        left: 0px;
        top: 0px;
        position: absolute;
    }
}

@media (min-width: 380px) and (max-width: 425px) {

    .HomepageSection {
        display: none;
    }

    .desktopNavBar {
        display: none;
    }

    .mobileFrame {
        display: contents;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    body {
        background-image: url("space-clouds.jpg");
        background-size: cover;
    }


    .HomepageSection {
        display: none;
    }

    .desktopNavBar {
        display: none;
    }

    .mobileFrame {
        display: contents;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mobileFrame {
        display: none;
    }
}

@media (min-width: 1025px) {
    .container {
        display: contents;
    }
}